html{
    scroll-behavior: smooth;
}
body{
    background-color:#252525;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.navigation{
    width:100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
}
.navigation ul{
    list-style: none;
    float: right;
    margin :20px;
    margin-right: 70px;
}
.navigation li{
    text-decoration: none;
    color: #252525;
    display:inline-block;
}
.navigation a{
    margin: 0px 15px 0px 15px;
   text-decoration: none;
   color: #252525;
}
.division-white {
    background-color: #ffffff;
    height: 0vh;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.triangle-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 100vh solid #252525;
}
.triangle-bottom {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 170px solid #1c0fb200;
    border-right: 234px solid #252525;
}
.panel-indicator {
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 500px;
    font-weight: 600;
}
.line-left {
    width: 10px;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 210px;
    transform: skewX(32deg);
}
.line-bottom {
    width: 10px;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 210px;
    transform: skewX(32deg);
}
.img-home-section {
    /* z-index: 1000 !important; */
    position: absolute;
    height: 85%;
    position: absolute;
    top: 85px;
    right: 130px;
    transition: 500ms;
}
.img-about-section {
    /* z-index: 1000 !important; */
    position: absolute;
    height: 85%;
    position: absolute;
    top: 110px;
    right: 56px;
    transition: 500ms;
}

.img-skill-section {
    /* z-index: 1000 !important; */
    position: absolute;
    height: 60%;
    position: absolute;
    top: 290px;
    right: 10px;
    transition: 500ms;
}
.img-skill-2-section {
    /* z-index: 1000 !important; */
    position: absolute;
    height: 60%;
    position: absolute;
    top: 30px;
    right: 10px;
    transition: 500ms;
}
.img-project-section {
    /* z-index: 1000 !important; */
    position: absolute;
    height: 40%;
    position: absolute;
    top: 350px;
    right: 100px;
    transition: 500ms;
}

.img-contact-section {
    /* z-index: 1000 !important; */
    position: absolute;
    height: 85%;
    position: absolute;
    top: 110px;
    right: -2000px;
    transition: 500ms;
}
/*Home*/
.home-content {
    border-left: solid 10px #0080FF;
    height: 50vh;
    width: 45%;
    position: absolute;
    top: 25vh;
    left: 100px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.home-content {
    color:#FFFFFF;
}
.hobby{
    color:#0080FF;
}
.home-content h1{
    font-size: 40px;
}
.btn-resume {
    width: 150px;
    border-radius: 5px;
    background-color: #0080FF;
    color: white;
    height: 40px;
    border: 0px;
    font-family: calibri;
    position: absolute;
    bottom: 0px;
    transition: 500ms;
    cursor: pointer;
}
.btn-resume:hover{
    background-color: #026bd4;
}
/*ABOUT*/
.about-content{
    border-left: solid 10px #0080FF;
    height: 50vh;
    width: 45%;
    position: absolute;
    top: -100vh;
    left: 100px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.about-content {
    color:#FFFFFF;
}
.about-content p {
    font-size: 30px;
    font-family: calibri;
    font-weight: 100;
}
.skill-content{
    height: 90vh;
    width: 50%;
    position: absolute;
    top: 5vh;
    left: 100px;
    transition: 500ms;
}
.skill-tree-line {
    width: 5px;
    height: 0vh;
    background-color: #FFFF;
    margin: auto;

}
.skill-tree-line .circle-right {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 50px;
    position: relative;
    left: -800px;
}

.skill-tree-line .circle-left {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 50px;
    position: relative;
    left: 100vw;
}
.skill-tree-line .circle .line-circle-right {
    width: 100px;
    height: 5px;
    background-color: #fff;
    position: relative;
    top: 27px;
    left: 60px;
}

.skill-tree-line .circle .line-circle-left {
    width: 100px;
    height: 5px;
    background-color: #fff;
    position: relative;
    top: 27px;
    left: -100px;
}

.skill-tree-line .circle img {
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    position: relative;
    left: 10px;
    top: 5px;
}
.skill-tree-line .detail-right {
    width: 200px;
    height: 70px;
    background-color: #FFFFFF;
    position: absolute;
    top: -5px;
    left: 120px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px 5px 5px;
    text-indent: 10px;
    text-align: justify;
    font-family: calibri;

}
.skill-tree-line .detail-left {
    width: 200px;
    height: 70px;
    background-color: #FFFFFF;
    position: absolute;
    top: -5px;
    left: -270px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px 5px 5px;  
    text-indent: 10px;
    text-align: justify;
    font-family: calibri;

}

/*Contact*/
.contact-content{
    height: 50vh;
    width: 45%;
    position: absolute;
    top: 25vh;
    left: -1000px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color:#FFFFFF;
    font-family: calibri;
}
.contact-content h1{
    font-size: 40px;
}
.contact-content span{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 200;
}
.span-icon{
    position: absolute;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    border :solid 2px #fff;
    border-radius: 5px;
    opacity: 20%;
}

.span-icon.span-1{
    animation: frame-span-1 20s infinite;
    border-color:#0080FF;
}

.span-icon.span-2{
    animation: frame-span-2 20s infinite;
    border-color:#670299;
}

.span-icon.span-3{
    animation: frame-span-3 20s infinite;
    border-color:#018a2a;
}

.span-icon.span-4{
    animation: frame-span-4 20s infinite;
    border-color:#ff5500;
}

.span-icon.span-5{
    animation: frame-span-5 20s infinite;
    border-color:#ddff02;
}

.span-icon.span-6{
    animation: frame-span-6 20s infinite;
    border-color:#028099;
}

@keyframes frame-span-1 {
    0% { top: 0; left: 0; color: #ff5733; border-color: #028099; }
    20% { top: 50vh; left: 10vw; color: #33ff57; border-color: #670299; }
    40% { top: 20vh; left: 40vw; color: #3357ff; border-color: #ddff02; }
    60% { top: 70vh; left: 30vw; color: #ff33a1; border-color: #018a2a; }
    80% { top: 50vh; left: 45vw; color: #ffff33; border-color: #ff5500; }
    100% { top: 0; left: 0; color: #ff5733; border-color: #028099; }
}

@keyframes frame-span-2 {
    0% { top: 100vh; left: 5vw; color: #ffcc33; border-color: #028099; }
    20% { top: 40vh; left: 20vw; color: #ff33cc; border-color: #670299; }
    40% { top: 30vh; left: 15vw; color: #33ccff; border-color: #ddff02; }
    60% { top: 20vh; left: 45vw; color: #ccff33; border-color: #018a2a; }
    80% { top: 45vh; left: 40vw; color: #cc33ff; border-color: #ff5500; }
    100%{ top: 100vh; left: 5vw; color: #ffcc33; border-color: #028099; }
}

@keyframes frame-span-3 {
    0% { top: 0; left: 10vw; color: #33ffcc; border-color: #028099; }
    20% { top: 50vh; left: 5vw; color: #ffcc33; border-color: #670299; }
    40% { top: 70vh; left: 25vw; color: #cc33ff; border-color: #ddff02; }
    60% { top: 30vh; left: 45vw; color: #ff33cc; border-color: #018a2a; }
    80% { top: 50vh; left: 50vw; color: #ffcc00; border-color: #ff5500; }
    100% { top: 0; left: 10vw; color: #33ffcc; border-color: #028099; }
}

@keyframes frame-span-4 {
    0% { top: 0; left: 15vw; color: #ff9933; border-color: #028099; }
    20% { top: 30vh; left: 45vw; color: #33ff99; border-color: #670299; }
    40% { top: 80vh; left: 15vw; color: #9933ff; border-color: #ddff02; }
    60% { top: 55vh; left: 25vw; color: #ff33ff; border-color: #018a2a; }
    80% { top: 45vh; left: 35vw; color: #33ffff; border-color: #ff5500; }
    100% { top: 0; left: 15vw; color: #ff9933; border-color: #028099; }
}

@keyframes frame-span-5 {
    0% { top: 100vh; left: 20vw; color: #99ff33; border-color: #028099; }
    20% { top: 50vh; left: 15vw; color: #ffcc33; border-color: #670299; }
    40% { top: 35vh; left: 45vw; color: #ff33cc; border-color: #ddff02; }
    60% { top: 75vh; left: 40vw; color: #ff6699; border-color: #018a2a; }
    80% { top: 90vh; left: 50vw; color: #cc33ff; border-color: #ff5500; }
    100% { top: 100vh; left: 20vw; color: #99ff33; border-color: #028099; }
}

@keyframes frame-span-6 {
    0% { top: 0; left: 25vw; color: #ff33ff; border-color: #028099; }
    20% { top: 70vh; left: 20vw; color: #33ffcc; border-color: #670299; }
    40% { top: 50vh; left: 45vw; color: #ffcc00; border-color: #ddff02; }
    60% { top: 30vh; left: 40vw; color: #33cc33; border-color: #018a2a; }
    80% { top: 80vh; left: 45vw; color: #cc3399; border-color: #ff5500; }
    100%{ top: 0; left: 25vw; color: #ff33ff; border-color: #028099; }
}

/*projects*/

.project-content {
    width: 100%;
    height: 90vh;
    position: relative;
}
.project-slides{
    width: 100%;
    height: 90vh;
    display: flex;
    transition: transform 0.5s ease; 
}
/*project slider*/
.container{
    width:100vw;
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .slider {
    height: 750px;
    width:100vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items:center;
  }
  .box1{      background:url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}
  .box2{
  background:url('https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}
  .box3{
  background:url('https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}
  .box4{
  background:url('https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}
  .box5{
  background:url('https://images.pexels.com/photos/3618162/pexels-photo-3618162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}
  .box6{
  background:url('https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}
  .box7{
  background:url('https://images.pexels.com/photos/1891234/pexels-photo-1891234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position:center center;}

  .slider [class*="box"] {
  /*   float: left; */
    overflow: hidden;
    border-radius:20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      position:absolute;
  }
  .slider [class*="box"]:nth-child(7),
  .slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%,-50%);
    top: 10%;
    z-index:1;
  }
  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%,-50%);
    top: 20%;
    z-index:2;
  }
  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%,-50%);
    top: 30%;
    z-index:3;
  }
  .slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%,-50%);
    top: 50%;
    z-index:4;
  }
  .slider [class*="box"]:nth-child(1){
    left:-13%;}
  .slider [class*="box"]:nth-child(2){
    left:-5%;}
  .slider [class*="box"]:nth-child(3){
    left:10%;}
  .slider [class*="box"]:nth-child(4){
    left:50%;}
  .slider [class*="box"]:nth-child(5){
    left:71%;}
  .slider [class*="box"]:nth-child(6){
    left:85%;}
  .slider [class*="box"]:nth-child(7){
    left:100%;}
  .slider .firstSlide {
      -webkit-animation:  firstChild 1s;
      animation:  firstChild 1s;
  }
  /*Animation for buyers landing page slider*/
  @-webkit-keyframes firstChild {
      0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }
  @keyframes firstChild {
     0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }

/*transitions*/
#division-white-home.show{
    height: 100vh;
    transition: 500ms;
}
#panel-indicator-home.show{
    left: 130px;
    transition:500ms;
}
#home-content{
    top: -700px;
}
#home-content.show{
    top: 25vh;
}
#sub-content-home{
    position: relative;
    left:-700px;
}
#sub-content-home.show{
    position: relative;
    left:0px;
    height: 20vh;
    transition: 500ms;
}
.nav.active{
    color: #0080FF;
    transition: 500ms;
}

/*about*/
#division-white-about.show{
    height: 100vh;
    transition: 500ms;
}
#panel-indicator-about.show{
    left: 130px;
    transition:500ms;
}

#about-content{
    top: -700px;
}
#about-content.show{
    top: 25vh;
}
#sub-content-about{
    position: relative;
    left:-700px;
}
#sub-content-about.show{
    position: relative;
    left:0px;
    height: 60vh;
    transition: 500ms;
}

/*SKILL*/
#division-white-skill.show{
    height: 100vh;
    transition: 500ms;
}
#panel-indicator-skill.show{
    left: 130px;
    transition:500ms;
}
#skill-tree-line.show{
    height: 90vh;
    transition: 3s;
}
#circle-csharp.show{
    left: -27px;
    transition: 500ms;
}
#circle-netcore.show{
    left: -27px;
    transition: 500ms;
}
#circle-sql.show{
    left: -27px;
    transition: 500ms;
}
#circle-js.show{
    left: -27px;
    transition: 500ms;
}
#circle-html.show{
    left: -27px;
    transition: 500ms;
}
#circle-css.show{
    left: -27px;
    transition: 500ms;
}
/*Projects*/
#division-white-project.show{
    height: 100vh;
    transition: 500ms;
}
#panel-indicator-project.show{
    left: 130px;
    transition:500ms;
}