@font-face {
  font-family: 'MyFont';
  src: url('/font/SpaceOdysseyDEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.mesh-geometry{
  position: fixed;
  top: 0px;
  left: 0px;
}

.navigation{
  position: absolute;
  bottom: 100px;
  left: calc(50% - 200px);
  z-index: 1000;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
}
.navigation{
  position: fixed;
  top: 20px;
  left:20px ;
}
.navigation.scrolled {
  position: sticky;
  top:500px;
  left: calc(50% - 200px);
}
.navigation li{
  display: inline;
  font-size: 12px;
  margin:5px 15px 5px 15px;
}
.navigation li a{
  cursor: pointer;
  color: #48DAFA;
}
.navigation li a.active{
  color :white  ;
  text-shadow:
    0 0 5px #48DAFA,
    0 0 10px #48DAFA,
    0 0 20px #48DAFA,
    0 0 40px #48DAFA;
}
.content{
  position: absolute;
  top: 0px;
  left: 0px;
}
.section{
  width: 100vw;
  height: 100vh;
}
#home .container{
width: 50%;
position: relative;
margin: auto;
top: 100px;
text-align: center;
}
#home h1{
  font-size: 100px;
  position: relative;
  top: 100px;
  font-family: 'MyFont';
  color: #C1BFBE;
}
#home .title{
  position: relative;
  top: 50px;
  font-family: 'MyFont';
  color: #48DAFA;
}
#home .paragraph{
  font-size: 12px;
  position: relative;
  top: 5vh;
}
#home .link{
  position: relative;
  top: 100px;
}
#home .link ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
#home .link li{
  display: inline;
}
#home .link a{
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #48DAFA;
  transition: 0.5s;
}
.section.s-experience{
  width: 100vw;
  height: 110vh;
}
#experience .container {
  position: relative;
  margin: auto;
  top: 150px;
  width: 60%;
  height: calc(100% - 75px);
  border-left: solid 2px #48DAFA;
}
#experience .container .circle-start{
  width: 20px;
  height: 20px;
  border:solid 2px #48DAFA;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #48DAFA;
  position: relative;
  top: -22px;
  left: -13px;
}
#experience .exp-year{
  font-size: 12px;
  color: #48DAFA;
}

#experience .exp-title{
  font-size: 12px;
  color: #ffffff;
   font-weight: 600;
}
#experience .exp-location{
  font-size: 12px;
  color: #ffffff;
}
#experience li{
    margin: 20px 0px 20px 0px;
}
#experience li li{
  font-size: 12px;
  color: #ffffff;
}
#experience .exp-list-title{
  text-decoration: underline;
  font-style: italic;
}
#skills .container {
  position: relative;
  margin: auto;
  top: 150px;
  width: 80%;
  height: calc(80% - 75px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#skills .container .widget{
  width: 200px;
  min-height: 30px;
  border: solid 2px #00b7ff;
  position: relative;
  margin: 0px 30px 0px 30px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #00b7ff;
}
#skills .container .widget .widget-title{
  position: absolute;
  font-size: 12px;
  color: #ffffff;
}


#project .container {
  position: relative;
  margin: auto;
  top: 150px;
  width: 60%;
  height: calc(80% - 75px);
  border-left: solid 2px #48DAFA;
}
#project .container .circle-start{
  width: 20px;
  height: 20px;
  border:solid 2px #48DAFA;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #48DAFA;
  position: relative;
  top: -22px;
  left: -13px;
}
#project .exp-year{
  font-size: 12px;
  color: #48DAFA;
  font-weight: 600;
}

#project .exp-title{
  font-size: 12px;
  color: #ffffff;
   font-weight: 600;
}
#project .exp-location{
  font-size: 12px;
  color: #ffffff;
}
#project li{
    margin: 20px 0px 20px 0px;
}
#project li li{
  font-size: 12px;
  color: #ffffff;
}
#project .project-tool{
  padding: 2px 10px 2px 10px;
  margin: 0px 2px 0px 2px;
  border: solid 1px #48DAFA;
  color: #48DAFA;
  font-size: 12px;
  border-radius: 5px;
}

.exp-git{
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;

}