@font-face {
  font-family: 'MyFont';
  src: url('/font/SpaceOdysseyDEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.mesh-geometry{
  position: fixed;
  top: 0px;
  left: 0px;
}

.navigation{
  position: absolute;
  bottom: 100px;
  left: calc(50% - 200px);
  z-index: 1000;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navigation.top{
  position: fixed;
  top: 20px;
  left:20px ;
}
.navigation.scrolled {
  position: sticky;
  top:500px;
  left: calc(50% - 200px);
}
.navigation li{
  display: inline;
  font-size: 12px;
  margin:5px 15px 5px 15px;
}
.navigation li a{
  cursor: pointer;
  color: #48DAFA;
}
.navigation li a.active{
  color :white  ;
  text-shadow:
    0 0 5px #48DAFA,
    0 0 10px #48DAFA,
    0 0 20px #48DAFA,
    0 0 40px #48DAFA;
}
.content{
  position: absolute;
  top: 0px;
  left: 0px;
}
.section{
  width: 100vw;
  height: 100vh;
}
#home .container{
width: 70%;
position: relative;
margin: auto;
top: 100px;
text-align: center;
}
#home h1{
  font-family: 'MyFont';
  color: #C1BFBE;
}
#home h4{
  
}
